# Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=

# Revenue Cat
EXPO_PUBLIC_REVENUE_CAT_IOS_KEY=
EXPO_PUBLIC_REVENUE_CAT_ANDROID_KEY=

# Posthog
EXPO_PUBLIC_POSTHOG_API_KEY=

# Sentry
SENTRY_AUTH_TOKEN=